# 0.0 Imports

In [93]:
import pandas as pd
import numpy as np
import inflection

import psycopg2 as pg

from sklearn import model_selection as ms

## 0.1 Helper Functions

## 0.2 Load Data

In [94]:
data_train_raw = pd.read_csv('../inputs/train.csv')
data_test_raw = pd.read_csv('../inputs/test.csv')

## 0.3 Rename Columns

In [95]:
#old columns
cols_old = list(data_train_raw.columns)
#creating function
rename_columns = lambda x: inflection.underscore(x)
#new columns
cols_new = list(map(rename_columns, cols_old))
#renaming columns 
data_train_raw.columns = cols_new

## 0.3 Split dataset

In [96]:
data_train_raw

,id,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,vintage,response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0

In [97]:
X = data_train_raw.drop('response', axis=1)
y = data_train_raw[['response']]

In [98]:
X_train, X_test, y_train, y_test = ms.train_test_split(X,y, test_size=0.3, random_state=42)

In [100]:
#train dataset
df_train = pd.concat([X_train, y_train], axis=1)

#test dataset
df_test = pd.concat([X_test, y_test], axis=1)

# 1.0 Data Description


- 'id': 	'Unique ID for the customer',
- 'Gender': 	'Gender of the customer',
- 'Age': 	'Age of the customer',
- 'Driving_License': 	'0 : Customer does not have DL, 1 : Customer already has DL',
- 'Region_Code': 	'Unique code for the region of the customer',
- 'Previously_Insured': 	'1 : Customer already has Vehicle Insurance, 0 : Customer doesnt have Vehicle Insurance',
- 'Vehicle_Age': 	'Age of the Vehicle',
- 'Vehicle_Damage': 	'1 : Customer got his/her vehicle damaged in the past. 0 : Customer didnt get his/her vehicle damaged in the past.',
- 'Annual_Premium': 	'The amount customer needs to pay as premium in the year',
- 'Policy_Sales_Channel': 	'Anonymized Code for the channel of outreaching to the customer ie. Different Agents, Over Mail, Over Phone, In Person, etc.',
- 'Vintage': 	'Number of Days, Customer has been associated with the company',
- 'Response': 	'1 : Customer is interested, 0 : Customer is not interested'}

# 1.1 Data amount

## 1.2 Data Types

## 1.3 Check NaN

## 1.4 Descriptive Statistical

### 1.4.1 Numerical Features

### 1.4.2 Categorical Features

# 2.0 Feature Engineering

## 2.1 Hypothesis Map

# 3.0 Data Filtering

# 4.0 Exploratory Data Analysis

# 5.0 Data Preparation

# 6.0 Feature Selection